
html,body{height: 100%;}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  vertical-align: baseline;
  font-family: 'Pretendard-Regular',sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

#app {
  min-height: 100vh;
  height: 100%;
  font-family: 'Pretendard-Regular',sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  box-sizing: border-box;
}

table,
tbody,
tr,
td,
th {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

button normalize
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input,
select {
  overflow: visible;
  border-width: 1px;
  border-style: solid;
  border-color: color(w80);
  background: transparent;
}

button,
select {
  text-transform: none;
}

/* button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
} */

button {
  cursor: pointer;
  user-select: none;
  border: none;
}

